:root {
  --white-color-hero: #fff;
  --background-secondary: #2f303a;
  --color-accent: #212121;
  --color-primary: #757575;
  --color-hover: #2196f3;
  --color-button: #f5f4fA;
  --color-logo: #000;
  --font-family-primary: 'Roboto', sans-serif;
  --background-header: #EcEcEc
}

  
