.section-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px; 
  line-height: 1.16;

  @media screen and (min-width: 1200px) {
    font-size: 36px; 
  }
} 
