.padding-reset {
  padding-top: 0;
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.work {
  display: flex;
  margin-top: 0;
  margin: 0;

  &__item {
    position: relative;
  }
  
  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    bottom: 0;
  
  }
  
  &__title {
    margin-bottom: 0;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

